  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>

<div class="form-horizontal">
<%= form_for(@profile) do |f| %>
<fieldset>

<div class="control-group">
<label class="control-label" for="input01"><%= f.label :First_Name %></label>
<div class="controls">
<%= f.text_field :fname, :class => "input-medium" %>
</div>
</div>

<div class="control-group">
<label class="control-label" for="input01"><%= f.label :Last_name %></label>
<div class="controls">
<%= f.text_field :lname, :class => "input-medium" %>
</div>
</div>

<div class="control-group">
<label class="control-label" for="input01"><%= f.label :Address_line_1 %></label>
<div class="controls">
<%= f.text_field :add1, :class => "input-large" %>
</div>
</div>

<div class="control-group">
<label class="control-label" for="input01"><%= f.label :Address_line_2 %></label>
<div class="controls">
<%= f.text_field :add2, :class => "input-large" %>
</div>
</div>

<div class="control-group">
<label class="control-label" for="input01"><%= f.label :Town %></label>
<div class="controls">
<%= f.text_field :town, :class => "input-medium" %>
</div>
</div>

<div class="control-group">
<label class="control-label" for="input01"><%= f.label :County %></label>
<div class="controls">
<%= f.text_field :county, :class => "input-medium" %>
</div>
</div>

<div class="control-group">
<label class="control-label" for="input01"><%= f.label :Postcode %></label>
<div class="controls">
<%= f.text_field :postcode, :class => "input-medium" %>
</div>
</div>

<div class="control-group">
<label class="control-label" for="input01"><%= f.label :Mobile_number %></label>
<div class="controls">
<%= f.text_field :mob, :class => "input-medium" %>
</div>
</div>

<%= f.hidden_field :user_id, :value => current_user.id %>

<div class="form-actions">
<%= f.submit :class => "btn btn-primary" %>
</div>
</fieldset>
<% end %>
</div>
