<div class="page-header">
<h2>
  <%= @profile.fname %> <%= @profile.lname %>
</h2>
</div>

<address>
  <%= @profile.add1 %><br />
  <%= @profile.add2 %><br />
  <%= @profile.town %><br />
  <%= @profile.county %><br />
  <%= @profile.postcode %>
</address>

<% unless @profile.mob == "" %>
<p>
  <abbr title="Phone">P:</abbr>
  <%= @profile.mob %>
</p>
<% end %>

<%= link_to 'Edit', edit_profile_path(@profile), :class => "btn btn-mini btn-primary" %>
