
<%= form_for(@contact_note) do |f| %>
  <% if @contact_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_note.errors.count, "error") %> prohibited this contact_note from being saved:</h2>

      <ul>
      <% @contact_note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-horizontal">
  <fieldset>
    <br />
  <div class="field">
    <%= f.text_area :note, :style => "width:100%;", :rows => "7" %>
  </div>

    <%= f.hidden_field :contact_id, :value => (params[:id]) %>
    <%= f.hidden_field :user_id, :value => current_user.id %>

<div class="form-actions">
<%= f.submit :class => "btn btn-primary" %>
</div>
</fieldset>

</div>  
<% end %>
